// app global css in Stylus form
//@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500&display=swap')
body
  //font-font 'Mulish', sans-serif
  font-family 'Roboto'
  font-style normal
  font-weight normal
  font-size 14px
  line-height 24px

.text-main-color
  color #0B344B

.bg-red
  color #C63040

.logo
  font-size 30px

.border-left
    border-left 4px solid #C63040

.q-item.q-router-link--active,
.q-item--active
  color #000

.card
  &-title
    font-size 16px
    line-height 20px
  &-content
    font-size 12px
    line-height 20px
    color #9AA7B0

h1
  margin-bottom 30px

.q-toggle
  //border 1px solid red
  flex-wrap wrap
